.p-name{
    font-family: 'Kaushan Script';
    text-align: center;
}
.p-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.p-image{
    width: 100%;
}
span{
    color: #425cbb;
    
}
ul.profile-information {
    list-style: none;
}